h1 {
    text-indent: 350px;
}

h2 {
    text-indent: 400px;
}

ul li {
    margin-left: 450px;
    font-size: 20px; 
}

ol li {
    margin-left: 450px;
    font-size: 20px; 
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
